body{
    margin: 0;
}
.header{
    padding: 20px;
    background-color: rgb(101, 137, 238);
    margin-bottom: 60px;
}
.form{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: none;
}
input{
    display: block;
    padding: 10px;
    font-size: 20px;
    width: 350px;
    border-radius: 8px;
    border: none;
}

.btn{
    padding: 10px;
    font-size: 20px;
    width: 150px;
    border-radius: 8px;
    border: none;
    color: rgb(71, 70, 79);
}